/* join__form */
.join__inner {
    padding: 6% 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__inner .index {
    text-align: center;
}
.join__inner .index ul {
    display: inline-block;
    position: relative;
}
.join__inner .index ul::before{
    content: '';
    background-color: var(--color__black);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 3px;
    z-index: -1;
}
.join__inner .index li {
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 3px solid var(--color__black);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: var(--bg__gray)
}
.join__inner .index li:nth-child(2) {
    margin: 20px 30px;
}
.join__inner .index li.active {
    background-color: #000;
    color: #fff;
}
.join__inner .intro__text1 {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
}


.join__form {
    padding: 10% 20%;
}
.join__form div {
    margin-bottom: 3em;
}
.join__form div label {
    display: block;
    margin-bottom: 2px;
    font-size: 1.2em;
}
.join__form .over {
    display: flex;
    flex-wrap: wrap;
}
.join__form .over label {
    width: 100%;
}
.join__form .over input {
    width: 70%;
}
.join__form .over .youCheck {
    width: 28%;
    display: inline-block;
    background-color: var(--color__black);
    border-radius: 5px;
    color: var(--color__white);
    text-align: center;
    padding-top: 15px;
    margin-left: 2%;
}
.join__form .over .msg {
    width: 100%;
}
.join__form .msg {
    padding: 7px 0;
    color: var(--bg__red);
}
.join__form .msg::before {
    /* content: '* '; */
}

.join__agree {
    padding: 10% 20% 0 20%;
}
.join__agree > div {
    margin-bottom: 20px;
}
.join__agree .scroll {
    height: 400px;
    background-color: var(--bg__gray3);
    padding: 20px;
    overflow-y: scroll;
}
.join__agree .check {
    padding: 7px 0;
}
.join__agree .check label {
    display: inline-block;
    font-size: 18px;
}
.join__agree .check input {
    width: 17px;
    height: 17px;
    vertical-align: -3px;
}
.checkBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.agreeMsg {
    margin-right: 10px;
    position: absolute;
    top: -20px;
    margin-top: 60px;
    color: red;
}
.agreeBtn {
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}



/* adminResult css */

@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

.store-container {
  line-height:0;
  margin: 50px auto;
  width: 50%;
}
.stroke {
  stroke: #0170bb;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.round-end {
  stroke-linecap: round;
}
#store {
  animation: fadeIn 0.8s ease-in;
}
.border-animation {
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.border-animation:after {
  content: "";
  background: linear-gradient(45deg, #ccc 48.9%, #0170bb 49%);
  background-size: 300% 300%;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  z-index: -1;
  animation: borderGradient 8s linear both infinite;
}
@keyframes borderGradient {
  0%,
  100% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#browser {
  transform: translateY(-100%);
  -webkit-animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
  animation: moveDown 1.5s cubic-bezier(0.77, -0.5, 0.3, 1.5) forwards;
}
@keyframes moveDown {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}
#toldo {
  animation: fadeIn 1s 1.4s ease-in forwards;
}
.grass {
  animation: fadeIn 0.5s 1.6s ease-in forwards;
}
#window {
  animation: fadeIn 0.5s 1.8s ease-in forwards;
}
#door {
  animation: fadeIn 0.5s 2s ease-in forwards;
}
#sign {
  transform-origin: 837px 597px;
  animation: pendulum 1.5s 2s ease-in-out alternate;
}
.trees {
  animation: fadeIn 0.5s 2.2s ease-in forwards;
}
#toldo,
.grass,
#window,
#door,
.trees,
.cat,
.cat-shadow,
.box,
.parachute,
.tshirt,
.cap,
.ball,
#text,
#button,
.sky-circle,
.sky-circle2,
.sky-circle3 {
  opacity: 0;
}
@keyframes pendulum {
  20% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.cat {
  transform-origin: 1145px 620px;
}
.cat-shadow {
  transform-origin: 1115px 625px;
}
#store:hover .cat {
  animation: catHi 3s 3s cubic-bezier(0.7, -0.5, 0.3, 1.4);
}
#store:hover .cat-shadow {
  animation: catShadow 4s 2s cubic-bezier(0.7, -0.5, 0.3, 1.4) alternate;
}
@keyframes catHi {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  10%,
  60% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes catShadow {
  0%,
  100% {
    transform: translate(40px, -35px) scale(0.3);
  }
  10%,
  60% {
    opacity: 1;
    transform: translate(-5px, 10px) scale(0.5);
  }
  60% {
    opacity: 0;
  }
}
.box,
.parachute {
  transform-origin: 430px 100px;
  animation: moveBox 14s 4s linear forwards infinite;
}
.parachute {
  animation: parachute 14s 4s linear forwards infinite;
}
@keyframes moveBox {
  0% {
    opacity: 0;
    transform: translate(0, -150px) rotate(20deg);
  }
  15% {
    opacity: 1;
    transform: translate(0, 100px) rotate(-15deg);
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  35% {
    opacity: 1;
    transform: translate(0, 570px) rotate(0deg);
  }
  45%,
  100% {
    opacity: 0;
    transform: translate(0, 570px);
  }
}
@keyframes parachute {
  0% {
    transform: translate(0, -150px) rotate(20deg) scale(0.8);
    opacity: 0;
  }
  15% {
    transform: translate(0, 100px) rotate(-15deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(0, 250px) rotate(10deg);
  }
  30% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  33% {
    transform: translate(0, 460px) rotate(0deg) scale(0.9);
    opacity: 1;
  }
  45%,
  100% {
    transform: translate(0, 480px);
    opacity: 0;
  }
}
.tshirt {
  animation: fadeInOut 42s 10s ease-in forwards infinite;
}
.cap {
  animation: fadeInOut 42s 24s ease-in forwards infinite;
}
.ball {
  animation: fadeInOut 42s 38s ease-in forwards infinite;
}
#text,
#button {
  animation: fadeIn 1s 5s ease-in forwards;
}
@keyframes fadeInOut {
  5%,
  12% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.cloud {
  animation: clouds 50s linear backwards infinite;
}
.cloud2 {
  animation: clouds 40s 40s linear backwards infinite;
}
.plane {
  animation: clouds 30s linear backwards infinite;
  will-change: transform;
}
@keyframes clouds {
  from {
    transform: translate(-150%, 0);
  }
  to {
    transform: translate(150%, 0);
  }
}
.sky-circle {
  animation: fadeInOut 10s 5s ease-in infinite;
}
.sky-circle2 {
  animation: fadeInOut 12s 30s ease-in infinite;
}
.sky-circle3 {
  animation: fadeInOut 8s 40s ease-in infinite;
}




/* media */
@media (max-width: 600px){
    .intro__inner.center .intro__text {
        font-size: 1rem;
        padding: 0;
    }
    .join__form {
        padding: 5% 10% 5% 10%;
    }
    .join__inner h2 {
        font-size: 24px;
    }
    .join__form div label {
        font-size: 1rem;
    }
    .join__form div input {
        padding: 0.6em 1em;
        font-size: 1rem;
    }
    .join__form button {
        margin: 2em auto;
        font-size: 1.2rem;
    }
    .join__form div {
        margin-bottom: 2em;
    }
}